
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="la la-file-code"></span><span> <%= link_to 'docTrail', root_path, class: 'dashboard-title' %></span></h2>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="" class="active"><span class="las la-file-prescription"></span>
        <span>Dashboard</span></a>
      </li>
      <li>
        <%= link_to docs_path do %>
          <span class="las la-file-prescription"></span>
          <span>Documents</span>
        <% end %>
      </li>
      <li>
        <%= link_to final_docs_path do %>
          <span class="las la-file-prescription"></span>
          <span>Finished Projects</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
  <header class="dashboard-header">
    <h2>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>

      Dashboard
    </h2>

    <div class="search-wrapper">
      <span class="las la-search"></span>
      <%= form_tag docs_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              autocomplete: "off",
              placeholder: "Search document"
            %>
          <% end %>
    </div>

    <div class="user-wrapper">
      <div class="user-details">
        <h4><%= @user.first_name %></h4>
        <small> <%= @user.company %></small>
      </div>
      <div>
      <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "https://image.flaticon.com/icons/png/512/709/709722.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
      </div>
    </div>
  </header>

  <main>
    <div class="cards">
      <div class="card-single pt-5">
        <div>
          <%= link_to "Create a new document", new_doc_path, class: "card-direct" %>
        </div>
        <div>
          <span class="las la-folder-plus"></span>
        </div>
      </div>
      <div class="card-single">
        <div>
          <h1><%= @user.docs.count %></h1>
            <%= link_to "Documents", docs_path, class: "card-direct" %>
        </div>
        <div>
          <span class="las la-folder-open"></span>
        </div>
      </div>
      <div class="card-single">
        <div class="finish-projects">
          <h1><%= @docs_final.count %></h1>
            <%= link_to "Finished Documents", final_docs_path %>
        </div>
        <div>
          <span class="las la-file-signature"></span>
        </div>
      </div>
    </div>

    <div class="recent-grid">
      <div class="projects">
        <div class="card">
            <div class="card-header">
              <h3>Documents Status</h3>
                <%= link_to docs_path do %>
                  <button>See All <span class="las la-arrow-right"></span></button>
                <% end %>
            </div>

          <div class="card-body">
            <table width='100%'>
              <thead>
                <tr>
                  <td>Document</td>
                  <td>Version</td>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>
                <% if @docs_not_final.any? %>
                  <% @docs_not_final.last(5).reverse_each do |doc| %>
                  <tr>
                    <td><%=link_to doc.title, doc_path(doc) %></td>
                    <td><%=link_to "Number #{doc.versions.count}", version_path(doc.versions.last)%></td>
                    <td>
                      <% if doc.versions.last.accepted %>
                      <span class="status green"></span>
                      Accepted
                      <% else %>
                      <span class="status orange"></span>
                      Pending acceptance
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                  <% else %>
                  <tr>
                    <td>No activity yet</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="customers">
        <div class="card">
          <div class="card-header">
            <h3>New Updates</h3>
            <button>See All <span class="las la-arrow-right">
            </span></button>
          </div>

          <div class="card-body">
            <div class="customer">
              <div class="info">
                <img src="https://img.icons8.com/ios/452/google-docs.png" width="40px" height="40px" alt="">
                <div>
                  <h4><%= @user.first_name %> <%= @user.last_name %></h4>
                  <small><%= @user.company %></small>
                </div>
              </div>
                <div class="contact">
                  <span class="las la-user-circle"></span>
                  <span class="las la-comment"></span>
                  <span class="las la-phone"></span>
                </div>
              </div>
              <div class="customer">
              <div class="info">
                <img src="https://img.icons8.com/ios/452/google-docs.png" width="40px" height="40px" alt="">
                <div>
                 <h4><%= @user.first_name %> <%= @user.last_name %></h4>
                 <small><%= @user.company %></small>
                </div>
              </div>
                <div class="contact">
                  <span class="las la-user-circle"></span>
                  <span class="las la-comment"></span>
                  <span class="las la-phone"></span>
                </div>

            </div>
            <div class="customer">
              <div class="info">
                <img src="https://img.icons8.com/ios/452/google-docs.png" width="40px" height="40px" alt="">
                <div>
                  <h4><%= @user.first_name %> <%= @user.last_name %></h4>
                  <small><%= @user.company %></small>
                </div>
              </div>
                <div class="contact">
                  <span class="las la-user-circle"></span>
                  <span class="las la-comment"></span>
                  <span class="las la-phone"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
