<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="la la-file-code"></span><span>docTrail</span></h2>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <%= link_to user_path(current_user) do %>
          <span class="las la-file-prescription"></span>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to docs_path do %>
          <span class= "las la-file-alt"></span>
          <span>Documents</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
  <header class="dashboard-header">
    <h2>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>

      Finished Projects
    </h2>

    <div class="search-wrapper">
      <span class="las la-search"></span>
      <%= form_tag docs_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              autocomplete: "off",
              placeholder: "Search document"
            %>
          <% end %>
    </div>

    <%= render 'shared/avatar' %>

  </header>

<div class="container">
  <% @docs.each do |doc| %>
    <i class="fas fa-file-signature"></i> <%= link_to doc.title, doc_path(doc) %>
  <% end %>
</div>
