<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="la la-file-code"></span><span> <%= link_to 'docTrail', root_path, class: 'dashboard-title' %></span></h2>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <%= link_to user_path(current_user) do %>
          <span class="las la-file-prescription"></span>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <a href=""><span class= "las la-file-alt"></span>
        <span>Documents</span></a>
      </li>
      <li>
        <%= link_to final_docs_path do %>
          <span class= "las la-file-upload"></span>
          <span>Finished Projects</span></a>
        <a href=""><span class= "las la-file-download"></span>
        <span>Versions</span></a>
      </li>
      <li>
        <%= link_to final_docs_path do %>
          <span class= "las la-file-upload"></span>
          <span>Finished Projects</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
  <header class="dashboard-header">

    <h2>
      <label for="nav-toggle">
        <span class="las la-bars"></span></label>
       Documents
    </h2>

    <div class="search-wrapper">
      <span class="las la-search"></span>
      <%= form_tag docs_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              autocomplete: "off",
              placeholder: "Search document"
            %>
          <% end %>
    </div>

    <%= render 'shared/avatar' %>

  </header>

  <div class="text-editor">
    <% @docs.each do |doc| %>
      <h3><%=link_to doc.title, doc_path(doc) %></h3>
    <% end %>
  </div>

  <div class="mb-2 d-flex align-items-center justify-content-between">
    <div>
      <%= link_to "Create a new document", new_doc_path, class: 'button-create' %>
    </div>

    <div class="back-btn mr-5">
      <%= link_to user_path(current_user) do %>
        <i class="las la-arrow-circle-left"></i>
      <% end %>
    </div>
  </div>
</div>
