<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="la la-file-code"></span><span> <%= link_to 'docTrail', root_path, class: 'dashboard-title' %></span></h2>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <%= link_to dashboard_path do %>
          <span class="las la-file-prescription"></span>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <a href=""><span class= "las la-file-alt"></span>
        <span>Documents</span></a>
      </li>
      <li>
        <%= link_to final_docs_path do %>
          <span class= "las la-file-upload"></span>
          <span>Finished Projects</span></a>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
  <header class="dashboard-header">

    <h2>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>
       Documents
    </h2>

    <%= render 'shared/avatar' %>

  </header>

<div class="container mt-3">
  <h1>Create a new document</h1>
  <%= render 'form' %>
  <!-- NO _VERSIONS.SCSS INSERIRAM STYLE NO <P> -->

  <div class="back-btn">
    <%= link_to docs_path do %>
      <i class="las la-arrow-circle-left"></i>
    <% end %>
  </div>
</div>
