<input type="checkbox" id="nav-toggle">
 <div class="sidebar">
   <div class="sidebar-brand">
    <h2><span class="la la-file-code"></span><span>docTrail</span></h2>
   </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <%= link_to user_path(current_user) do %>
          <span class="las la-file-prescription"></span>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to doc_versions_path(@doc) do %>
          <span class="las la-file-prescription"></span>
          <span>Versions</span>
        <% end %>
      </li>
      <li>
        <% if @doc.locked%>
          <a href=""><span class= "las la-file-download"></span>
          <span>Document is locked</span></a>
          <% else %>
        <%= link_to new_doc_version_path(@doc) do %>
          <span class="las la-file-prescription"></span>
          <span>New Version</span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
  <header class="dashboard-header">
    <h2>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>

      <%= @doc.title %>
    </h2>

    <%= render 'shared/avatar' %>
  </header>


  <main>
    <!-- it need to be responsive -->
    <div class="container">

      <% if @doc.versions.one? %>
        <h5 class="mt-3">This document has <%= link_to "#{@doc.versions.count} version", doc_versions_path(@doc)%></h5>
      <% else %>
        <h5 class="mt-3">This document has <%= link_to "#{@doc.versions.count} versions", doc_versions_path(@doc)%></h5>
      <% end %>

      <div class="doc-body mt-3">
        <p><%= @doc.rich_body %></p>
      </div>

    <%= simple_form_for @new_userdoc do |f|%>
      <%= f.input :doc_id, as: :hidden, input_html: { value: @doc.id } %>
      <%= f.input :user_id, label:'Add user:', collection: @doc.doc_uninvited_users, label_method: :first_name %>
      <%= f.submit 'Add user', class: 'btn btn-primary mb-4' %>
    <% end %>

    <div>
      <% if !@userdoc.happy %>
        <%= simple_form_for @userdoc, method: :put, url: userdoc_path(@userdoc) do |f|%>
          <%= f.input :happy, as: :hidden, input_html: { value: true } %>
          <%= f.submit 'Close this document', class: 'accept-button' %>
        <% end %>
      <% end %>

      <% if Userdoc.zero_happy?(@userdocs) %>
        <% @doc.final = true %>
        <p>Document accepted</p>
      <% end %>

      <% if @userdoc.happy && !@doc.final %>
        <p>Pending for others to confirm</p>
      <% end %>
    </div>

    <div class="back-btn d-flex justify-content-end">
      <%= link_to docs_path do %>
        <i class="las la-arrow-circle-left"></i>
      <% end %>
    </div>

  </main>

  </div>
</div>
