<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="la la-file-code"></span><span>docTrail</span></h2>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <%= link_to user_path(current_user) do %>
          <span class="las la-file-prescription"></span>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to doc_versions_path(@doc) do %>
          <span class="las la-file-prescription"></span>
          <span>Versions</span>
        <% end %>
      </li>
      <li>
        <% if @doc.locked%>
          <a href=""><span class= "las la-file-download"></span>
          <span>Document is locked</span></a>
          <% else %>
        <%= link_to new_doc_version_path(@doc) do %>
          <span class="las la-file-prescription"></span>
          <span>New Version</span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>

      <%= @doc.title %>
    </h2>

    <div class="search-wrapper">
      <span class="las la-search"></span>
      <input type="search" placeholder="Search here"/>
    </div>
  </header>

  <main>
    <!-- it need to be responsive -->
    <div class="container">

      <% if @doc.versions.present? %>
        <% if @doc.versions.count == 1 %>
          <h5 class="mt-3">This document has <%= link_to "#{@doc.versions.count} version", doc_versions_path(@doc)%></h5>
        <% else %>
          <h5 class="mt-3">This document has <%= link_to "#{@doc.versions.count} versions", doc_versions_path(@doc)%></h5>
        <% end %>
      <% else %>
        <p>This documents has no versions yet</p>
      <% end %>

      <div class="doc-body mt-3">
        <p><%= @doc.rich_body %></p>
      </div>

    <%= simple_form_for @userdoc do |f|%>
      <%= f.input :doc_id, as: :hidden, input_html: { value: @doc.id } %>
      <%= f.input :user_id, label:'Add user:', collection: @doc.doc_uninvited_users, label_method: :first_name %>
      <%= f.submit 'Add user', class: 'btn btn-primary mb-4' %>
    <% end %>

      <!-- <p><%#= link_to 'Edit this document', edit_doc_path(@doc), class: 'btn btn-primary' %></p> -->

    </div>
  </main>
</div>

