<div class="about-header">
  <h1 id="about-title">About <span>us</span></h1>
  <h2><span class="la la-file-code"></span><span> <%= link_to 'docTrail', root_path, class: 'dashboard-title' %></span></h2>
</div>

<div class="about">
  <div class="max-width">
    <div class="about-content">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag("team.jpg", class: 'image', alt: "First slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h3>docTrail <span>Team</span> </h3>
                <p>One of the best in the business</p>
              </div>
          </div>
          <div class="carousel-item">
            <%= image_tag("tiago.jpg", class: 'image', alt: "Second slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h2>Tiago <span>Musk</span></h2>
                <h4>Back-end Developer</h4>
                <p>Former GoGoats and Google Developer</p>
              </div>
          </div>
          <div class="carousel-item">
            <%= image_tag("felipe.jpg", class: 'image', alt: "Second slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h2>Felipe <span>Zuckerberg</span></h2>
                <h4>Back-end Developer</h4>
                <p>Former GoGoats and Netflix Developer</p>
              </div>
          </div>
          <div class="carousel-item">
            <%= image_tag("diogo.jpg", class: 'image', alt: "Third slide") %>
            <div class="carousel-caption d-none d-md-block">
              <h2>Diogo <span>Jobs</span> </h2>
              <h4>Front-end Developer</h4>
              <p>Former GoGoats and YouTube Developer</p>
              </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <ul class="social pb-3">
    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
    <li><a href="https://github.com/Tiago-O/doctrail"><i class="fab fa-github"></i></a></li>
    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
  </ul>
</div>
