<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="la la-file-code"></span><span> <%= link_to 'docTrail', root_path, class: 'dashboard-title' %></span></h2>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <%= link_to user_path(current_user) do %>
        <span class="las la-file-prescription"></span>
        <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to doc_path(@doc) do %>
         <span class="las la-file-prescription"></span>
         <span>Main document</span>
         <% end %>
      </li>
      <li>
         <% if @doc.locked%>
          <a href=""><span class= "las la-file-download"></span>
          <span>Document is locked</span></a>
          <% else %>
        <%= link_to new_doc_version_path(@doc) do %>
          <span class="las la-file-prescription"></span>
          <span>New Version</span>
          <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to docs_path(current_user) do %>
        <span class="las la-file-prescription"></span>
        <span>Documents</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="main-content">
  <header class="dashboard-header">
    <h2>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>
      Versions of document: <%= @doc.title %>
    </h2>

    <%= render 'shared/avatar' %>

  </header>

  <main>
    <div class="container">
      <% counter = @versions.count %>
      <% @versions.reverse_each do |version| %>
        <p><i class="fas fa-file-import"></i> <%=link_to "Version number #{counter}: #{version.created_at.strftime("%-d %b %Y, %H:%M")}", version_path(version) %></p>
        <% counter -= 1 %>
      <% end %>
    </div>
  </main>
</div>
