<div class="container">

  <p><%= @version.text %></p>

  <p> <%= link_to 'Return to master document', doc_path(@version.doc), class: 'btn btn-primary btn-decoration' %></p>

  <%= simple_form_for [@version.doc, @version, @comment] do |f|%>
    <%= f.input :text, label: 'Insert a comment' %>
    <%= f.submit 'New comment', class: 'btn btn-primary mb-4' %>
  <% end %>

  <h5>Comments:</h5>
  <% @comments.each do |comment| %>
    <p><%= comment.text %></p>
  <% end %>

</div>
