<% Differ.format = :html %>

<div class="container">

  <div class="texts_comparison d-flex">
    <p><%= sanitize Differ.diff_by_word(@version.rich_body.to_plain_text, @version.doc.rich_body.to_plain_text).to_s %></p>
    <p><%= @version.doc.rich_body%></p>
  </div>

  <!-- <del class="differ">Tu</del><ins class="differ">Eu</ins> es grande<ins class="differ"> ok</ins> -->

  <p> <%= link_to 'Return to main document', doc_path(@version.doc), class: 'btn btn-primary btn-decoration' %></p>

  <%= simple_form_for [@version.doc, @version, @comment] do |f|%>
    <%= f.input :text, label: 'Insert a comment' %>
    <%= f.submit 'Publish comment', class: 'btn btn-primary mb-4' %>
  <% end %>

  <% if @comments.any? %>
    <h5>Comments:</h5>
    <% @comments.each do |comment| %>
      <p><%= comment.text %></p>
    <% end %>
    <% else %>
    <p class='btn btn-secundary mb-4'>no comments</p>
  <% end %>

  <% if !@version.accepted && @version.user != current_user %>
    <%= simple_form_for @version, method: :put, url: version_path(@version) do |f|%>
      <%= f.input :accepted, as: :hidden, input_html: { value: true } %>
      <%= f.submit 'Accept', class: 'btn btn-primary mb-4' %>
    <% end %>
  <% end %>
</div>
