<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="la la-file-code"></span><span> <%= link_to 'docTrail', root_path, class: 'dashboard-title' %></span></h2>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <%= link_to dashboard_path do %>
          <span class="las la-file-prescription"></span>
          <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to doc_versions_path(@version.doc) do %>
          <span class="las la-file-prescription"></span>
          <span>Versions</span>
        <% end %>
      </li>
      <li>
        <%= link_to docs_path do %>
          <span class="las la-file-prescription"></span>
          <span>Documents</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>



<div class="main-content">
  <header class="dashboard-header">
    <h2>
      <label for="nav-toggle">
        <span class="las la-bars"></span>
      </label>
      <%= @version.doc.title %>
      V<%= @doc.versions.count %>
    </h2>

    <div class="search-wrapper">
      <span class="las la-search"></span>
      <%= form_tag docs_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              autocomplete: "off",
              placeholder: "Search document"
            %>
          <% end %>
    </div>

    <%= render 'shared/avatar' %>

  </header>


<main>
<div class="text-editor">

  <div class="container">

      <div class="row">
        <% if @doc.versions.first != @version %>

          <div class="col-6">
            <h3>New version</h3>
            <div id="original" data-text="<%=@version.previous_version(@doc).rich_body.to_plain_text%>"></div>
            <div id="other" data-text="<%=@version.rich_body.to_plain_text%>"></div>
            <div id="display"></div>
          </div>
          <div class="col-6">
            <h3>Document</h3>
            <div><%= @version.previous_version(@doc).rich_body%></div>
          </div>

      <% else %>
        <div class="col-12">
          <h3>Original</h3>
          <div><%= @version.rich_body%></div>
        </div>

      <% end %>

      </div>
    <!-- <div>

      <h3 class="table-title">Original</h3>
        <p><%#= @version.doc.rich_body%></p>
    </div> -->
  </div>

  <%= simple_form_for [@version.doc, @version, @comment] do |f|%>
    <%= f.input :text, :input_html => { :class => 'comment-wrapper' }, label: 'Insert a comment', placeholder: 'Add some comments here' %>
      <div class="d-flex"></div>
        <%= f.submit 'Publish comment', class: 'button' %>
        <%= link_to 'Return to main document', doc_path(@version.doc), class: 'button' %>
      </div>
  <% end %>

<div class="comment-editor">
  <table width='100%'>
    <thead>
      <tr>
        <td><h5>Added Comments:</h5></td>
        <td><h5>Name</h5></td>
        <td><h5>Company</h5></td>
      </tr>
    </thead>
      <tbody>
        <% if @comments.any? %>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.text %></td>
              <td><%= comment.user.first_name %> <%= comment.user.last_name %></td>
              <td><%= comment.user.company %></td>
            </tr>
          <% end %>
          <% else %>
          <tr>No comments</tr>
        <% end %>
      </tbody>
  </table>
</div>

  <% if !@version.accepted && @version.user != current_user %>
    <%= simple_form_for @version, method: :put, url: version_path(@version) do |f|%>
      <%= f.input :accepted, as: :hidden, input_html: { value: true } %>
      <%= f.submit 'Accept this version', class: 'accept-button' %>
    <% end %>
  <% end %>

  </main>
</div>
