<%# <div class="main">
  <p class="sign" align="center">Log in</p>
    <form class="form1">
      <input class="un" type="text" align="center" placeholder="Username">
      <input class="pass" type="password" align="center" placeholder="Password">
      <a class="submit" align="center">Sign in</a>
      <p class="forgot" align="center"><a href="#">Forgot Password?</p>
    </form>
</div> %>


<div class="main">
  <p class="sign" align="center">Log in</p>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  placeholder: "Email",
                  input_html: { autocomplete: "email", class: "un" },
                  label_html: { class: "label"} %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", class: "pass" },
                  label_html: { class: "label"} %>
      <%= f.button :submit, "Sign in", class: "submit" %>
                 
      <%= f.input :remember_me, wrapper_html: { class: 'remember' }, as: :boolean if devise_mapping.rememberable?  %>
  <% end %>

</div>
